* {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: snow;
}

.calender-container {
  height: 100%;
  width: 100%;
}

.todays-date {
  width: 100%;
  height: 10%;
  background-color: darkblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.today {
  font-size: 1.75em;
}

button {
  background: none;
  background-size: 100% 100%;
  border: none;
  width: 25px;
  height: 25px;
}

.open-close {
  background-image: url('../images/arrow.png');
}

.flip {
  transform: scaleY(-1);
}

.calender {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.month-year-selector {
  display: flex;
  height: 10%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.5em;
  margin-bottom: 5px;
}

.select-date {
  position: fixed;
  top: 20%;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.select-date input {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 1.5em;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 7%;
  font-size: 1.25em;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 83%;
}

.day,
.date {
  display: flex;
  justify-content: center;
  align-items: center;
}
.date {
  font-size: 2em;
}
.month-year {
  font-size: 1.75em;
}

.left-arrow {
  background-image: url('../images/black-arrow.png');
  transform: rotate(90deg);
}

.right-arrow {
  background-image: url('../images/black-arrow.png');
  transform: rotate(-90deg);
}
.minimize {
  display: none;
}

@media only screen and (min-width: 951px) {
  * {
    font-size: 32px;
  }
  button {
    height: 50px;
    width: 50px;
  }
}
